AnalyticsDashboard/*
Base/*
ContentBuilder/*
SspWorkplace/*
ServiceDesigner/*
RelationshipDesigner/*
PivotTable/*
OmnichannelMessaging/*
IntegrationV2/*
OpenIdAuth/*
NUI/*
Exchange/*
HomePage\*
DesignerTools/*
Deduplication/*
Custom/*
CoreForecast/*
UIv2/*
Workplace/*
placeholder.txt
HomePage/Files/descriptor.json
HomePage/Files/src/js/bootstrap.js
HomePage/Files/src/js/schema-view-component.js
